body {
  max-width: 960px;
  padding-right: 10px;
  padding-left: 10px;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  width: 500px;
  height: 600px;
  background-color: aquamarine;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
}

.selector {
  padding-top: 20px;
}